.btn {
        border-radius: 28.5px;
        box-shadow: 0px 10px 30px 0px rgba(254, 114, 76, 0.2);
        background: rgb(254, 114, 76);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 9px;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        @media (max-width:1000px) {
                margin-top: 0 !important;
        }
     
}